---
import Layout from '../layouts/Layout.astro';
import ColorWidget from '../components/ColorWidget.astro';

// Generate initial random color
const initialColor = '#' + Math.floor(Math.random()*16777215).toString(16).padStart(6, '0');
---

<Layout title="Random Color Generator">
	<main>
		<section id="colorSection" style={`background-color: ${initialColor}`} class="flex min-h-screen font-sans">
			<div class="flex flex-1 items-center justify-start pl-24">
				<ColorWidget currentColor={initialColor} />
			</div>
			<div class="flex flex-1"></div>
		</section>
		<section class="min-h-screen font-sans">
			Text
		</section>
	</main>
</Layout>


