---
import Layout from '../layouts/Layout.astro';
import ColorWidget from '../components/ColorWidget.astro';

// Generate initial random color
const initialColor = '#' + Math.floor(Math.random()*16777215).toString(16).padStart(6, '0');
---

<Layout title="Random Color Generator" backgroundColor={initialColor}>
	<main>
		<ColorWidget currentColor={initialColor} />
	</main>
</Layout>


