---
interface Props {
  currentColor: string;
}

const { currentColor } = Astro.props;
---

<div class="max-w-80 w-full bg-slate-100 text-slate-900 font-sans p-6 rounded-lg border border-slate-100/20 shadow-lg flex flex-col gap-6">
    <h1 class="text-3xl font-bold">Couleur aléatoire</h1>
    <div class="flex flex-col gap-1">
        <span 
            class="text-xs text-zinc-600"
            >
            HEX code:
        </span>
        <div class="flex items-center justify-between">
            <span 
                id="colorCode"
                class="text-lg"
                >
                {currentColor}
            </span>
            <button 
                id="copyColor"
                class="border border-slate-300 rounded-md text-slate-900 text-base p-1 hover:bg-slate-300"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 256 256"><path d="M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z"></path>
                </svg>
            </button>
        </div>
    </div>
    <button 
        id="generateColor"
        class="bg-slate-900 text-slate-100 font-semibold rounded p-2 hover:bg-opacity-90 transition-colors"
    >
        Générer une autre couleur
    </button>
</div>

<script>
  function generateRandomColor() {
    const letters = '0123456789ABCDEF';
    let color = '#';
    for (let i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }

  document.getElementById('generateColor')?.addEventListener('click', () => {
    const newColor = generateRandomColor();
    document.getElementById('colorSection')!.style.backgroundColor = newColor;
    const colorCode = document.getElementById('colorCode');
    if (colorCode) colorCode.textContent = newColor;
  });

  document.getElementById('copyColor')?.addEventListener('click', async () => {
    const colorCode = document.getElementById('colorCode')?.textContent;
    if (colorCode) {
      await navigator.clipboard.writeText(colorCode);
      alert('Color code copied to clipboard!');
    }
  });
</script> 