<footer class="max-w-xl mx-auto flex items-center justify-between text-sm py-4 px-4 mb-4 text-center text-slate-600">
    <div>
        © {new Date().getFullYear()} - Générateur de couleur aléatoire
    </div>
    <a href="#colorSection" class="hover:text-slate-900 underline">
        Retour en haut ↑
    </a>
</footer>